.amount-page hr {
    border: none;
    border-top: 2px solid gainsboro;
    margin-top: 10px;
}

.amount-page {
    padding: 5px;
    background-color: white;
    border-radius: 7px;
    flex: 1;
    margin-left: 20px;
}

.amount {
    display: inline-block;
    background-color: orange;
    color: white;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    padding: 7px;
    text-align: center;
    font-weight: bold;
}

.badge {
    background-color: darkorchid;
    color: white;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    top: 90%;
    left: 1%;
    text-align: center;
    transition: top 1.5s ease;
}

.badge:hover {
    background-color: cadetblue;
    top: 75%;
}


.blue-button {
    background-color: cornflowerblue;
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bought {
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

.box {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.button-text-sold {
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    color: black;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 1.5s;
}

.button-text-sold::before {
    content: "Куплено";
}

.button-text-sold::after {
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: darkorchid;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%) translateY(100%) scale(0);
    opacity: 0;
    transition: opacity 0.3s, transform 0.9s ease;
}

.button-text-sold:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-20%) scale(1);
    transition-delay: 0.3s;
}

.button-text-sold:not(:hover)::after {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(0);
    transition-delay: 0s;
}

.centered {
    text-align: center;
}

.cheese {
    background-color: gainsboro;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.cookies {
    background-color: gainsboro;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.cross::before {
    content: "x";
}

.cross {
    background-color: red;
    border-radius: 5px;
    position: relative;
    color: white;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.cross::after {
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: darkorchid;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    top: calc(100% - 80px);
    left: -50%;
    transform: translateY(20%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0s, transform 2.5s ease;

}


.cross:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) translateY(-60%);
    transition-delay: 0s;
}


.green-button::before {
    content: "+";
}

.green-button {
    background-color: limegreen;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.green-button::after {
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: darkorchid;
    color: white;
    font-weight: normal;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: calc(100% - 80px);
    left: -50%;
    transform: translateY(20%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0s, transform 2.5s ease;

}


.green-button:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) translateY(-60%);
    transition-delay: 0s;
}


.left {
    font-size: 25px;
    padding: 10px;
}

.line {
    margin-top: 20px;
}

.product-item hr {
    border: none;
    border-top: 2px solid gainsboro;
}

.product-item {
    background-color: white;
    padding: 5px;
    border-radius: 7px;
    flex: 2;
    margin-right: 20px;
}

.rectangle {
    display: flex;
    padding: 10px;
}

.red-button::before {
    content: "-";
}

.red-button {
    background-color: red;
    border-radius: 50%;
    width: 40px;
    position: relative;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;

}


.red-button::after {
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: darkorchid;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    top: calc(100% - 80px);
    left: -50%;
    transform: translateY(20%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0s, transform 2.5s ease;

}


.red-button:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) translateY(-60%);
    transition-delay: 0s;
    }


.right-aligned {
    text-align: right;
}

.styled-input {
    padding: 10px;
    font-size: 16px;
    width: 500px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    outline: none;
}

.table-amount {
    display: inline-block;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 5px;
}

.table-cookies {
    display: inline-block;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 5px;
}

.tag {
    background-color: gainsboro;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.tags-line {
    margin: 15px;
}


.text-badge {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
}


.text-sold {
    background-color: gainsboro;
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    text-align: right;
}

.tomatoes {
    background-color: gainsboro;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 15px;
}


@media (max-width: 1000px) {
    body {
        max-width: 1000px;
    }
    .box {
        flex-direction: column;
        align-items: start;
    }

    .product-item, .amount-page {
        width: 100%;
        display: block;
        left: 0;
        margin-top: 20px;
        margin-left: 0;
        padding-left: 0;
    }

    .amount-page {
        width: 100%;
        display: block;
        margin-top: 50px;
        position: relative;
    }
}

@media print {
    .text-badge {
        display: none;
    }

    .badge {
        top: 87%;
        background-color: white;
        border: 2px solid darkorchid;
        padding: 5px;

    }

    .text-for-print {
        color: black;
    }

}

body {
    background-color: gainsboro;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border-bottom: 2px solid gainsboro;
    padding: 10px;
}



